@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagination{
    padding: v.$separacion 0;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
    }
    button{
        margin-bottom: 0;
    }
}

.hide{
    visibility: hidden;
}